@charset "utf-8";


input[type="submit"]{
    border: 1px solid hsl(209, 42%, 86%);
    border-radius: 4px;

    background: linear-gradient(#c52525, hsl(0, 51%, 83%));
    color: rgba(3, 2, 1, 0.918);
}

input[type="reset"]{
    border: 1px solid hsl(209, 42%, 86%);
    border-radius: 4px;

    background: linear-gradient(#0086f9, #ece4e4);
    color:rgb(9, 31, 22);
}

